{erl_opts, [warn_unused_import, warn_export_vars, warnings_as_errors, verbose, report, debug_info]}.

{alias, [{test, [compile, lint, xref, eunit, ct, cover]}]}.

{deps, [{yamerl, "0.10.0"},
        {trails, "2.3.1"}]}.

{profiles, [{test,
   [{ct_opts, [{verbose, true}]},
    {cover_enabled, true},
    {cover_opts, [verbose]},
    {deps, []},
    {dialyzer,
     [{warnings, [no_return, underspecs, unmatched_returns, error_handling, unknown]},
      {plt_ignore_apps, [trails]},
      {plt_extra_apps, []}]}]}]}.

{project_plugins, [{rebar3_lint, "~> 3.1.0"}]}.

{dialyzer, [{warnings, [no_return, underspecs, unmatched_returns, error_handling, unknown]}]}.

{xref_checks, [undefined_function_calls, deprecated_function_calls, deprecated_functions]}.